.display-none{display: none}
.struck-out{text-decoration: line-through}
#application-message, #content, #tags-fieldset, #upload-progress{display: none}
#upload-progress, #form-message{width: 100%; margin: 10px 0}
#form-message{text-align: center; padding-left: 0; padding-right: 0}